@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --saffron: #F4C430;
  --saffron-light: #F7D567;
  --serenity-blue: #B3CDE0;
  --white-glass: rgba(255, 255, 255, 0.5);
  --border-color: rgba(255, 255, 255, 0.7);
}

body {
  font-family: 'Inter', sans-serif;
}

.glassmorphic {
  background: var(--white-glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border-color);
}
